#Update values, delete this line and rename file to cypress.env.json. 
#For proper testing keep these values same to React env values.
{
    "ACCESSMANAGEMENT_API_URL": "https://api.staging.livecs.org",
    "CHUMS_API_URL": "https://api.staging.chums.org",
    "appName": "CHUMS"
}